layout {
    focus-ring {
        active-color "#00bc9b"
        inactive-color "#727985"
        urgent-color "#ff6a7e"
    }

    border {
        width 3
        active-color "#00bc9b"
        inactive-color "#727985"
        urgent-color "#ff6a7e"
    }
}

window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#dc3969"
        inactive-color "#ff6a7e"
    }

    border {
        on
        inactive-color "#ff6a7e"
    }

    shadow {
        color "#ff6a7eF0"
    }

    tab-indicator {
        active-color "#dc3969"
        inactive-color "#ff6a7e"
    }
}
