layout {
    focus-ring {
        active-color "#557300"
        inactive-color "#7f8080"
        urgent-color "#b14745"
    }

    border {
        width 3
        active-color "#557300"
        inactive-color "#7f8080"
        urgent-color "#b14745"
    }
}

window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#7a50c6"
        inactive-color "#b14745"
    }

    border {
        on
        inactive-color "#b14745"
    }

    shadow {
        color "#b14745F0"
    }

    tab-indicator {
        active-color "#7a50c6"
        inactive-color "#b14745"
    }
}
