layout {
    focus-ring {
        active-color "#67b11d"
        inactive-color "#585858"
        urgent-color "#f2241f"
    }

    border {
        width 3
        active-color "#67b11d"
        inactive-color "#585858"
        urgent-color "#f2241f"
    }
}

window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#a31db1"
        inactive-color "#f2241f"
    }

    border {
        on
        inactive-color "#f2241f"
    }

    shadow {
        color "#f2241fF0"
    }

    tab-indicator {
        active-color "#a31db1"
        inactive-color "#f2241f"
    }
}
