layout {
    focus-ring {
        active-color "#2df4c0"
        inactive-color "#748cd6"
        urgent-color "#ff5370"
    }

    border {
        width 3
        active-color "#2df4c0"
        inactive-color "#748cd6"
        urgent-color "#ff5370"
    }
}

window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#b994f1"
        inactive-color "#ff5370"
    }

    border {
        on
        inactive-color "#ff5370"
    }

    shadow {
        color "#ff5370F0"
    }

    tab-indicator {
        active-color "#b994f1"
        inactive-color "#ff5370"
    }
}
