layout {
    focus-ring {
        active-color "#538947"
        inactive-color "#b8b8b8"
        urgent-color "#ab4642"
    }

    border {
        width 3
        active-color "#538947"
        inactive-color "#b8b8b8"
        urgent-color "#ab4642"
    }
}

window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#96609e"
        inactive-color "#ab4642"
    }

    border {
        on
        inactive-color "#ab4642"
    }

    shadow {
        color "#ab4642F0"
    }

    tab-indicator {
        active-color "#96609e"
        inactive-color "#ab4642"
    }
}
