layout {
    focus-ring {
        active-color "#95c76f"
        inactive-color "#65568a"
        urgent-color "#f84547"
    }

    border {
        width 3
        active-color "#95c76f"
        inactive-color "#65568a"
        urgent-color "#f84547"
    }
}

window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#b74989"
        inactive-color "#f84547"
    }

    border {
        on
        inactive-color "#f84547"
    }

    shadow {
        color "#f84547F0"
    }

    tab-indicator {
        active-color "#b74989"
        inactive-color "#f84547"
    }
}
