layout {
    focus-ring {
        active-color "#95c7ae"
        inactive-color "#747c84"
        urgent-color "#c7ae95"
    }

    border {
        width 3
        active-color "#95c7ae"
        inactive-color "#747c84"
        urgent-color "#c7ae95"
    }
}

window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#c795ae"
        inactive-color "#c7ae95"
    }

    border {
        on
        inactive-color "#c7ae95"
    }

    shadow {
        color "#c7ae95F0"
    }

    tab-indicator {
        active-color "#c795ae"
        inactive-color "#c7ae95"
    }
}
