layout {
    focus-ring {
        active-color "#a68e5a"
        inactive-color "#74316b"
        urgent-color "#c53253"
    }

    border {
        width 3
        active-color "#a68e5a"
        inactive-color "#74316b"
        urgent-color "#c53253"
    }
}

window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#a45782"
        inactive-color "#c53253"
    }

    border {
        on
        inactive-color "#c53253"
    }

    shadow {
        color "#c53253F0"
    }

    tab-indicator {
        active-color "#a45782"
        inactive-color "#c53253"
    }
}
