layout {
    focus-ring {
        active-color "#59d500"
        inactive-color "#cccccc"
        urgent-color "#ff0000"
    }

    border {
        width 3
        active-color "#59d500"
        inactive-color "#cccccc"
        urgent-color "#ff0000"
    }
}

window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#c17ecb"
        inactive-color "#ff0000"
    }

    border {
        on
        inactive-color "#ff0000"
    }

    shadow {
        color "#ff0000F0"
    }

    tab-indicator {
        active-color "#c17ecb"
        inactive-color "#ff0000"
    }
}
