layout {
    focus-ring {
        active-color "#3fa33f"
        inactive-color "#818181"
        urgent-color "#ee2a29"
    }

    border {
        width 3
        active-color "#3fa33f"
        inactive-color "#818181"
        urgent-color "#ee2a29"
    }
}

window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#8800a0"
        inactive-color "#ee2a29"
    }

    border {
        on
        inactive-color "#ee2a29"
    }

    shadow {
        color "#ee2a29F0"
    }

    tab-indicator {
        active-color "#8800a0"
        inactive-color "#ee2a29"
    }
}
