layout {
    focus-ring {
        active-color "#00bb00"
        inactive-color "#007700"
        urgent-color "#007700"
    }

    border {
        width 3
        active-color "#00bb00"
        inactive-color "#007700"
        urgent-color "#007700"
    }
}

window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#00bb00"
        inactive-color "#007700"
    }

    border {
        on
        inactive-color "#007700"
    }

    shadow {
        color "#007700F0"
    }

    tab-indicator {
        active-color "#00bb00"
        inactive-color "#007700"
    }
}
