layout {
    focus-ring {
        active-color "#60b48a"
        inactive-color "#8ba393"
        urgent-color "#705050"
    }

    border {
        width 3
        active-color "#60b48a"
        inactive-color "#8ba393"
        urgent-color "#705050"
    }
}

window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#dc8cc3"
        inactive-color "#705050"
    }

    border {
        on
        inactive-color "#705050"
    }

    shadow {
        color "#705050F0"
    }

    tab-indicator {
        active-color "#dc8cc3"
        inactive-color "#705050"
    }
}
