layout {
    focus-ring {
        active-color "#8cc265"
        inactive-color "#545862"
        urgent-color "#e05561"
    }

    border {
        width 3
        active-color "#8cc265"
        inactive-color "#545862"
        urgent-color "#e05561"
    }
}

window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#c162de"
        inactive-color "#e05561"
    }

    border {
        on
        inactive-color "#e05561"
    }

    shadow {
        color "#e05561F0"
    }

    tab-indicator {
        active-color "#c162de"
        inactive-color "#e05561"
    }
}
