layout {
    focus-ring {
        active-color "#7d9726"
        inactive-color "#6c6b5a"
        urgent-color "#ba6236"
    }

    border {
        width 3
        active-color "#7d9726"
        inactive-color "#6c6b5a"
        urgent-color "#ba6236"
    }
}

window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#5f9182"
        inactive-color "#ba6236"
    }

    border {
        on
        inactive-color "#ba6236"
    }

    shadow {
        color "#ba6236F0"
    }

    tab-indicator {
        active-color "#5f9182"
        inactive-color "#ba6236"
    }
}
