layout {
    focus-ring {
        active-color "#98b481"
        inactive-color "#4b3639"
        urgent-color "#ff786c"
    }

    border {
        width 3
        active-color "#98b481"
        inactive-color "#4b3639"
        urgent-color "#ff786c"
    }
}

window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#e68ecd"
        inactive-color "#ff786c"
    }

    border {
        on
        inactive-color "#ff786c"
    }

    shadow {
        color "#ff786cF0"
    }

    tab-indicator {
        active-color "#e68ecd"
        inactive-color "#ff786c"
    }
}
