layout {
    focus-ring {
        active-color "#a1bb54"
        inactive-color "#505050"
        urgent-color "#fa859c"
    }

    border {
        width 3
        active-color "#a1bb54"
        inactive-color "#505050"
        urgent-color "#fa859c"
    }
}

window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#db8fea"
        inactive-color "#fa859c"
    }

    border {
        on
        inactive-color "#fa859c"
    }

    shadow {
        color "#fa859cF0"
    }

    tab-indicator {
        active-color "#db8fea"
        inactive-color "#fa859c"
    }
}
