layout {
    focus-ring {
        active-color "#7c9f4b"
        inactive-color "#9197a1"
        urgent-color "#db7070"
    }

    border {
        width 3
        active-color "#7c9f4b"
        inactive-color "#9197a1"
        urgent-color "#db7070"
    }
}

window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#b870ce"
        inactive-color "#db7070"
    }

    border {
        on
        inactive-color "#db7070"
    }

    shadow {
        color "#db7070F0"
    }

    tab-indicator {
        active-color "#b870ce"
        inactive-color "#db7070"
    }
}
