layout {
    focus-ring {
        active-color "#00e676"
        inactive-color "#44464d"
        urgent-color "#f44336"
    }

    border {
        width 3
        active-color "#00e676"
        inactive-color "#44464d"
        urgent-color "#f44336"
    }
}

window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#673ab7"
        inactive-color "#f44336"
    }

    border {
        on
        inactive-color "#f44336"
    }

    shadow {
        color "#f44336F0"
    }

    tab-indicator {
        active-color "#673ab7"
        inactive-color "#f44336"
    }
}
