layout {
    focus-ring {
        active-color "#2ecc40"
        inactive-color "#777777"
        urgent-color "#ff4136"
    }

    border {
        width 3
        active-color "#2ecc40"
        inactive-color "#777777"
        urgent-color "#ff4136"
    }
}

window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#b10dc9"
        inactive-color "#ff4136"
    }

    border {
        on
        inactive-color "#ff4136"
    }

    shadow {
        color "#ff4136F0"
    }

    tab-indicator {
        active-color "#b10dc9"
        inactive-color "#ff4136"
    }
}
