layout {
    focus-ring {
        active-color "#8ca07b"
        inactive-color "#918072"
        urgent-color "#c06061"
    }

    border {
        width 3
        active-color "#8ca07b"
        inactive-color "#918072"
        urgent-color "#c06061"
    }
}

window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#98a1d8"
        inactive-color "#c06061"
    }

    border {
        on
        inactive-color "#c06061"
    }

    shadow {
        color "#c06061F0"
    }

    tab-indicator {
        active-color "#98a1d8"
        inactive-color "#c06061"
    }
}
